<div class="wrapper" *ngIf="isLoaderShow()" [ngClass]="{'global':global}" [ngStyle]="getWrapperInlineStyle()">
    <div class="container" [ngStyle]="getWrapperInlineStyle()">
        <div [ngStyle]="{'border-width':thickness ? (thickness+'px') : ''}">

        </div>
        <div>

        </div>
        <div [ngStyle]="{'border-width':thickness ? (thickness+'px') : ''}">

        </div>
        <div [ngStyle]="{'border-width':thickness ? (thickness+'px') : ''}">
            
        </div>
    </div>
</div>