<div class="loader-wrapper" *ngIf="isLoaderShow()" [ngClass]="{'global':global, 'sub-global':subGlobal}">
    <div class="loader-container" [ngStyle]="{'width': width, 'height': height}">
        <div [ngStyle]="{'border-width':thickness ? (thickness+'px') : ''}">

        </div>
        <div>

        </div>
        <div [ngStyle]="{'border-width':thickness ? (thickness+'px') : ''}">

        </div>
        <div [ngStyle]="{'border-width':thickness ? (thickness+'px') : ''}">
            
        </div>
    </div>
</div>