<!--<input type='text' [(ngModel)]="canSubmit">-->
<app-loader #loader></app-loader>
<input #copyInput type="text" class="copy-input">
<form [action]="url" target="my-frame" method="post" #form class="code-form">
    <input name="js" type="hidden" id="js-input" [(ngModel)]="jsCode">
    <input name="css" type="hidden" id="css-input" [(ngModel)]="cssCode">
    <input name="html" type="hidden" id="html-input" [(ngModel)]="htmlCode">
    <!--<input #saveCb name="save" type="checkbox" id="save-status" [value]="'1'" style="display:none !important;">-->
</form>
<iframe #iframe name="my-frame" (load)="onFormLoad()" (click)="onIframeClick()"></iframe>