<div class="code-part-title">
    <span>JAVASCRIPT</span>
    <div class="code-part-title-btns-container">
        <a class="js-expand-btn code-part-title-btn" [title]="'Expand JS vertically'">
            <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </a>
        <a class="js-fullscreen-btn code-part-title-btn" (click)="toggleFullScreenMode()" [ngClass]="{'on':isFullScreenMode}" [title]="'Full screen JS'">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </a>
    </div>
</div>
<ngs-code-editor 
    [theme]="theme"
    [(codeModel)]="codeModel"
    [options]="options"
    (valueChanged)="onCodeChanged($event)">
</ngs-code-editor>