.main-container{
    display: flex;
    width: calc(100vw - 4px);
    height: calc(100vh - 38px);
    box-shadow: 0 0 0 1px #bbb;    
}

#main-header{
    height: 34px;
    width: calc(100% - 10px);
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 0 0 0 1px #bbb;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.code-part-title{
    width: 100%;
    border-bottom: 1px solid #b5b5b5;
    border-top: 1px solid #b5b5b5;
    color: #8b8b8b;
    text-align: center;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 1px 0 1px 5px;
    background: #FFFFFF;
    font-size: 15px;
}

/*.code-component-container-css .code-part-title,
.code-component-container-js .code-part-title{
    cursor: row-resize;
}*/

.code-part-title > span {
    color: #797979;
    user-select:none;
    pointer-events: none;
}

.code-part-title-btns-container{
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 10px;
  text-align: right;
  height: 100%;
}

.code-part-title-btn{
    cursor: pointer;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    height: 14px;
    padding: 2px;
}

.as-split-area[class] {
    /*min-height: 25px;*/
    overflow-y: hidden;
    overflow-x:hidden;
}

.code-part-title-btn:nth-last-child(n+2){
  margin-right: 10px;
}

#code-parts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 1px #bbb;
    position:relative;
}

#code-parts > .code-component-container{
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFF;
    min-height: 32px;
}

#code-parts > .code-component-container.has-resizer{
    padding-top:5px;
}

#code-parts > .code-component-container > .code-component{
    /*height: calc(100% - 30px);*/
    height:auto;
    flex-grow: 1;
    /*display: flex;
    flex-direction: column;*/
} 

.main-container{
    position: relative;
}

.main-container.layout-type-3 {
    flex-direction: row-reverse;
}

.main-resizer-floor{
    position:absolute;
    width:100%;
    height:100%;
    z-index:100;
    left:0;
    top:0;
}
#main-resizer {
    position: absolute;
    background-color: #b5b5b5;
    border:none;
    z-index:101;
}
#main-resizer.layout-type-1,
#main-resizer.layout-type-3{
    width: 12px;
    cursor: col-resize;
    height:100%;
}

/*#main-resizer.resize-mode.layout-type-1,
#main-resizer.resize-mode.layout-type-3{
    background-image:repeating-linear-gradient(#bbb, #bbb 15px, #FFFFFF 15px, #FFFFFF 20px);
}*/

#main-resizer:hover {
    background-color: #afafaf;
}


#code-parts > :not(:first-child) {
    border-top:none;
}

app-iframe-part{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    box-shadow: 0 0 0 1px #bbb;
}

#code-parts-title-mobile{
    display:none;
    height: 35px;
}

#code-parts-title-mobile a {
    border:1px solid #8b8b8b;
    border-radius:2px;
    padding:3px;
    min-width:50px;
    text-align:center;
    cursor:pointer;
}

#code-parts-title-mobile a:hover {
    background-color:#ededed;
}

#code-parts-title-mobile a.active {
    background-color: #aaaaaa;
    color: #FFFFFF;
    font-weight: 600;
}

#code-parts-title-mobile a:not(:first-child) {
    margin-left:5px;
}

#code-parts-title-mobile a:not(:last-child) {
    margin-right:5px;
}

.share-code-btn,
.ressources-code-btn{
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    user-select: none;
    color:rgb(0,0,0);
    outline: none;
    padding: 1px 6px;
}

.share-code-btn:active,
.ressources-code-btn:active{
    color:rgb(0,0,0);
    padding-top: 4px;
}
.share-code-btn:hover,
.ressources-code-btn:hover{
    background-color: #FFFFFF;
}

.share-code-btn span,
.ressources-code-btn span{
    display:block;
}

.header-btns-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btns-container > button {
    margin-left:5px;
    margin-right:5px;
    font-size: 14px;
    padding: 1px 4px;
}
  
.header-btns-container > button:last-child {
    margin-right:0px;
}

.header-btns-container > button:first-child {
    margin-left:0px;
}

.header-btns-container  > .ressources-code-btn,
.header-btns-container  > .layouts-list-container,
.header-btns-container  > .share-code-btn{
    height:30px;
}

.paypal-btn-container{
    margin-right: 5px;
    position: relative;
}

.paypal-btn-container .btn.paypal-btn {
    position: relative;
    padding-left: 30px;
    min-height: 30px;
    padding-left: 25px;
    font-size: 14px;
    padding-right:4px;
}

.paypal-btn-container .btn.paypal-btn i.fa.fa-sort-desc {
    position: absolute;
    right: 0;
    bottom: 7px;
}

.paypal-btn-container .btn.paypal-btn i.fa.fa-sort-asc {
    position: absolute;
    right: 0;
    bottom: 0px;
}

.paypal-btn-container .btn.paypal-btn img.paypal-icon {
    position: absolute;
    left: 1px;
    width: 22px;
    max-height: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.paypal-btn-container .btn.paypal-btn span.text {
    position: relative;
    padding-right: 13px;
    display: flex;
    align-items: center;
}

.paypal-btn-container ul.donations-menu {
    position: absolute;
    top: calc(100% + 7px);
    list-style: none;
    margin: 0;
    width: 143px;
    border-radius: 2px;
    background-color: #FFFFFF;
    
    font-size: 20px;
    transition: 0.2s all;
    overflow: hidden;

    height: 159px;
    padding: 8px;
    box-shadow: none;
    opacity:0;
    pointer-events: none;
    z-index: -1;
}

.paypal-btn-container ul.donations-menu.shown {
    height:159px;
    padding: 8px;
    box-shadow: 0px 0px 4px 2px #8b8b8b;
    opacity: 1;
    pointer-events: all;
    z-index: 1;
}

.paypal-btn-container ul.donations-menu > li:first-child ~ li {
    border-top: 1px solid #8b8b8b5e;
}

.paypal-btn-container ul.donations-menu > li {
    padding: 8px 4px;
    cursor: pointer;
    transition: 0.2s all;
}

.paypal-btn-container ul.donations-menu > li:hover {
    background-color: #8b8b8b26;
    font-weight: 600;
}

.layouts-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: rgb(239, 239, 239);
    padding: 0px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    /*position: relative;*/
    color:rgb(0,0,0);
    outline: none;
    padding:1px 6px;
}

.layouts-list-container:active{
    color:rgb(0,0,0);
    padding-top: 4px;
}

.layouts-list-container:hover{
    background-color: #FFFFFF;
}

.layouts-list-container > span{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 14px;   
}

.layouts-list-container > span i.fa{
    position: absolute;
    right: 0;
    bottom: 7px;
}

.layouts-list-container.shown > span i.fa-sort-asc{
    bottom: 0px;
}

.layout{
    cursor: pointer;
}

.layout:hover{
    background-color: rgba(139,139,139,0.2);
}

.layout.active {
    background-color:#8b8b8b;
    border-color: #FFFFFF;
    box-shadow: 0 0 0px 1px #8b8b8b;
}

.layout.active > div:first-child{
    outline: 2px solid #FFFFFF;
}

.layout.active > div:first-child > div{
    outline: 1px solid #FFFFFF;
}
/****/
.layout-1 {
    border: 2px solid #8b8b8b;
    width: 65px;
    height: 41px;
    display: flex;
    margin-right: 10px;
}

.layout-1 > div:first-child {
    width: 27%;
    height: 100%;
    outline: 2px solid #8b8b8b;
}

.layout-1 > div:first-child > div {
    width: 100%;
    height: 33.5%;
    outline: 1px solid #8b8b8b;
}

.layout-1 > div:last-child {
    flex-grow: 1;
    height: 100%;
}
/****/
.layout-2 {
    border: 2px solid #8b8b8b;
    width: 65px;
    height: 41px;
    display: flex;
    flex-direction:column;
    margin-right: 10px;
}

.layout-2 > div:first-child {
    height: 35%;
    width: 100%;
    outline: 2px solid #8b8b8b;
    display: flex;
}

.layout-2 > div:first-child > div {
    height: 100%;
    width: 33.5%;
    outline: 1px solid #8b8b8b;
}

.layout-2 > div:last-child {
    flex-grow: 1;
}
/****/
.layout-3 {
    border: 2px solid #8b8b8b;
    width: 65px;
    height: 41px;
    display: flex;
    flex-direction:row-reverse;
    margin-right: 10px;
}

.layout-3 > div:first-child {
    width: 27%;
    height: 100%;
    outline: 2px solid #8b8b8b;
}

.layout-3 > div:first-child > div {
    width: 100%;
    height: 33.5%;
    outline: 1px solid #8b8b8b;
}

.layout-3 > div:last-child {
    flex-grow: 1;
    height: 100%;
}
/****/
.layout-4 {
    border: 2px solid #8b8b8b;
    width: 65px;
    height: 41px;
    display: flex;
    flex-direction:column-reverse;
}

.layout-4 > div:first-child {
    height: 35%;
    width: 100%;
    outline: 2px solid #8b8b8b;
    display: flex;
}

.layout-4 > div:first-child > div {
    height: 100%;
    width: 33.5%;
    outline: 1px solid #8b8b8b;
}

.layout-4 > div:last-child {
    flex-grow: 1;
}
/****/

.layouts-list{
    position: absolute;
    height: 44px;
    padding:8px;
    overflow: hidden;
    transition: all 0.2s;
    top: calc(100% + 8px);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 2px #8b8b8b;
    z-index: 102;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    display: flex;
    right:0px;
}

.code-component-container.vertical-title-mode:not(.fullscreen) {
    flex-direction: row;
    border-top:2px solid #b5b5b5;
}

.code-component-container.vertical-title-mode:not(.fullscreen) > .code-part-title {
    flex-direction: column-reverse;
    height: 100%;
    width: 20px;
    padding: 1px 2px 0 2px;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #b5b5b5;
}

.code-component-container.vertical-title-mode:not(.fullscreen) > app-html-part.code-component {
    width: calc(100% - 30px);
}

.code-component-container.vertical-title-mode:not(.fullscreen) > .code-part-title > .code-part-title-btns-container {
    margin: 0px;
    height: auto;
    flex: none;
}

.code-component-container.vertical-title-mode:not(.fullscreen) > .code-part-title > span {
    writing-mode: vertical-lr;
    margin-bottom: 10px;
    flex-grow: 1;
    text-align: left;
    padding-top: 10px;
}

.fiddle-title .fiddle-input{
    min-width: 200px;
    font-size: 14px;
}

.app-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fiddle-title{
    margin-left: 70px;
    font-size: 14px;
}

.fiddle-logo{
    width: 60px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fiddle-logo img{
    height: calc(100% - 10px);
}

@media screen and (max-width:550px){
    .layouts-list {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
    }

    .layouts-list[class] .layout{
        margin:0px;
    }
    
    .layouts-list[class] .layout:nth-child(2n+1){
        margin-right:10px;
    }

    .paypal-btn-container .btn.paypal-btn span.text{
        font-size: 0px;
        position:static;
    }
    
    .paypal-btn-container .btn.paypal-btn span.text i.fa{
        font-size: 16px;
    }

    .paypal-btn {
        padding-left: 18px !important;
    }

    .paypal-btn-container .btn.paypal-btn i.fa.fa-sort-desc{
        bottom: 11px !important;
    }

    .paypal-btn-container .btn.paypal-btn i.fa.fa-sort-asc{
        bottom: 4px !important;
    }
}

.layouts-list-container.shown .layouts-list {
    padding: 8px;
    opacity: 1;
    pointer-events: all;
}

.layouts-list-container.hidden > span .fa.fa-sort-asc{
    display: none;
}

.layouts-list-container.shown > span .fa.fa-sort-desc{
    display: none;
}

.code-part-title-btn.on{
    background-color: #8b8b8b;
    color: #FFFFFF;
}

:host ::ng-deep .as-split-gutter:first-of-type:not(:last-of-type){
    display: none !important;
}

:host ::ng-deep as-split[class] > .as-split-gutter[class]{
    background-color: #ccc;
}

.iframe-hack{
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[hidden]{
    display:none;
}

as-split-area >  app-iframe-part,
as-split-area >  app-html-part,
as-split-area >  app-css-part,
as-split-area >  app-js-part{
    width: 100%;
    height: 100%;
}

.main-container.layout-type-1 #code-parts {
    border-right: 1px solid #bbb;
}

as-split-area.code-component-container {
    display: flex;
    flex-direction: column;
}

/*as-split-area.code-component-container > app-css-part,
as-split-area.code-component-container > app-js-part,
as-split-area.code-component-container > app-html-part{
    
}*/

@media screen and (min-width:768px) and (min-height:581px){
    :host ::ng-deep app-iframe-part.layout-type-1{
        align-items: flex-end;
    }
    
    :host ::ng-deep app-iframe-part.layout-type-3{
        align-items: flex-start;
    }
}

:host ::ng-deep .monaco-editor .monaco-hover {
    left: 0px !important;
    z-index: 102 !important;
    max-width: 100% !important;
    overflow: auto;
}

:host ::ng-deep .monaco-scrollable-element{
    min-width: min-content;
}

:host ::ng-deep .monaco-editor .parameter-hints-widget{
    z-index: 103 !important;
    left: 0px !important;
}

@media (min-width:768px) {
    #code-parts .code-component-container.fullscreen {
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 125 !important;
        padding:0px;
    }
    #code-parts  > .code-part-title{
        border-top: 1px solid #b5b5b5;
    }
}

@media (max-width:767px), (max-height:580px) {  

    .main-container{
        flex-direction:column !important;
    }

    .hide-mobile{
        display: none !important;
    }

    :host ::ng-deep as-split[class] > .as-split-gutter[class]{
        display:none;
    }

    #main-header{
        padding-right: 0px;
        padding-left: 0px;
        width:100%;
        justify-content: center;
    }
    
    #code-parts-title-mobile{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    #main-resizer{
        display:none;
    }

    .code-part-title-btn{
        display: none;
    }

    .layouts-list-container{
        opacity: 0.5;
        pointer-events: none;
    }

    .layouts-list{
        display:none;
    }

    .main-container{
        width:100%;
    }

    .code-part-title{
        cursor: default;
    }

    .as-split-outer{
        display:flex;
        flex-direction: column !important;
    }

    .as-split-gutter {
        display: none !important;
    }

    as-split-area.as-split-area-code-parts {
        width:100% !important;
        height:50% !important;
        border-bottom: 1px solid #ddd;
        flex:none !important;
    }

    as-split-area.as-split-area-iframe {
        width:100% !important;
        height:50% !important;
        border-top: 1px solid #dddddd;
        flex:none !important;
    }

    .as-split-outer.no-result-mobile > .as-split-area-code-parts,
    .as-split-outer.no-result-mobile > .as-split-area-iframe{
        height:100% !important;
    }

    .as-split-outer.no-code-mobile > .as-split-area-code-parts,
    .as-split-outer.no-code-mobile > .as-split-area-iframe{
        height:100% !important;
    }

    as-split-area.code-component-container{
        width:100%;
        height:100%;
        flex: none !important;
    }

    .app-loader{
        transform: none;
        left: auto;
        top: 4px;
        right: 4px;
    }

    .fiddle-title{
        margin-left: 0px;
    }

    .fiddle-logo{
        left: 12px;
        top: 0px;
        transform: none;
        width: 45px;
    }

}

@media screen and (max-width:767px){
    #main-header{
        flex-direction: column;
        height: 62px;
        justify-content: space-between;
        padding: 3px 0 5px 0;
    }
}

@media screen and (max-width:400px){
    .header-btns-container  > .ressources-code-btn[class],
    .header-btns-container  > .layouts-list-container[class],
    .header-btns-container  > .share-code-btn[class]{
        margin-right:3px;
        margin-left:3px;
        padding: 1px 2px;
    }
    .fiddle-logo{
        display:none;
    }
}

app-modal .modal-header{
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
}
app-modal .modal-body {
    padding: 2px 4px;
}

app-modal .modal-header .modal-close-btn{
    position: static;
    transform:none;
}

app-modal .modal-header .modal-validate-btn{
    color: #FFFFFF;
    background-color: #62ad4a;
    padding: 4px 10px;
}