#code-parts{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 246px;
    height: 100%;
    overflow: hidden;
}

#code-parts > .code-component-container{
    width: 100%;
    flex-grow: 1;
    border: 1px solid #bbbbbb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#code-parts > .code-component-container > .vertical-resizer {
    min-height: 5px;
    max-height: 5px;
    background-color: #bbbbbb;
    cursor: row-resize;
    border:none;
    width: 100%;
}

#main-resizer {
    background-color: #bbbbbb;
    cursor: col-resize;
    min-width: 5px;
    max-width: 5px;
    border:none;
}
#main-resizer:hover {
    background-color: #9b9b9b;
}

#code-parts > .code-component-container > .vertical-resizer:hover {
    background-color: #9b9b9b;
}

#code-parts > :not(:first-child) {
    border-top:none;
}

app-iframe-part{
    display:flex;
    flex-direction:column;
    border:1px solid #bbbbbb;
    flex-grow:1;
}