<header id="main-header">
    <div class="header-btns-container">
        <button class="ressources-code-btn" (click)="ressouresBtnClick()">
            <span>Ressources</span>
        </button>
        <button class="layouts-list-container" (click)="toggleLayoutsList()" [ngClass]="{'shown': isLayoutsListShown, 'hidden': !isLayoutsListShown}">
            <span>Layouts <i class="fa fa-sort-desc" aria-hidden="true"></i><i class="fa fa-sort-asc" aria-hidden="true"></i>
            </span>
            <div class="layouts-list" #layoutsList>
                <div class="layout-1 layout" #layout1 (click)="changeLayout(1)" [ngClass]="{'active':(layout === 1)}">
                    <div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <!---->
                <div class="layout-2 layout" #layout2  [ngClass]="{'active':(layout === 2)}" style="cursor:not-allowed;opacity: 0.5;">
                    <div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <!---->
                <div class="layout-3 layout" #layout3 (click)="changeLayout(3)" [ngClass]="{'active':(layout === 3)}">
                    <div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <!---->
                <div class="layout-4 layout" #layout4  [ngClass]="{'active':(layout === 4)}" style="cursor:not-allowed;opacity: 0.5;">
                    <div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </button>
        <button class="share-code-btn" (click)="runCode('save')">
            <span>Share</span>
        </button>
        <button class="share-code-btn" (click)="runCode()">
            <span>Run</span>
        </button>
    </div>
</header>
<div class="main-container" [ngClass]="'layout-type-'+layout" #mainContainer>
    <div id="code-parts-title-mobile">
        <a #htmlMobileToggle (click)="toggleCodePart('html')" [ngClass]="{'active':showHtml}">HTML</a>
        <a #cssMobileToggle (click)="toggleCodePart('css')" [ngClass]="{'active':showCss}">CSS</a>
        <a #jsMobileToggle (click)="toggleCodePart('js')" [ngClass]="{'active':showJs}">JS</a>
        <a #resultMobileToggle (click)="toggleCodePart('result')" [ngClass]="{'active':showResult}">Result</a>
    </div>
    
    <as-split [direction]="getLayoutInfos('outerAsSplitDirection')" [unit]="getLayoutInfos('outerAsSplitUnit')" #splitComponentOuter (dragEnd)="splitComponentOuterDragEnd($event)" (dragStart)="splitComponentOuterDragStart($event)" class="as-split-outer" [ngClass]="{'no-result-mobile': !showResult, 'no-code-mobile': !showHtml && !showCss && !showJs}">
            <as-split-area [order]="getLayoutInfos('codePartsAsSplitAreaOrder')" [minSize]="getLayoutInfos('codePartsAsSplitAreaMinSize')" [size]="getLayoutInfos('codePartsAsSplitAreaSize')" class="as-split-area-code-parts" [ngClass]="{'hide-mobile': !showHtml && !showCss && !showJs}">
                    <div id="code-parts" #codeParts>
                        <as-split [direction]="getLayoutInfos('innerAsSplitDirection')" [unit]="getLayoutInfos('innerAsSplitUnit')" #splitComponentInner (dragEnd)="splitComponentInnerDragEnd($event)" (dragStart)="splitComponentInnerDragStart($event)">
                            <as-split-area [minSize]="getLayoutInfos('emptyAsSplitAreaMinSize')" [size]="getLayoutInfos('emptyAsSplitAreaSize')" [maxSize]="getLayoutInfos('emptyAsSplitAreaMaxSize')" style="display: none"></as-split-area>
                            <as-split-area [minSize]="getLayoutInfos('htmlAsSplitAreaMinSize')" [size]="getLayoutInfos('htmlAsSplitAreaSize')" class="code-component-container code-component-container-html" 
                            [ngClass]="{'hide-mobile': !showHtml, 'fullscreen': isHtmlFullScreen}">
                                <div class="code-part-title">
                                    <span>HTML</span>
                                    <div class="code-part-title-btns-container">
                                        <!--<a class="html-expand-btn code-part-title-btn" [title]="'Expand HTML Vertically'" (click)='expandHtml()'>
                                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                        </a>-->
                                    
                                        <a class="html-fullscreen-btn code-part-title-btn" (click)="toggleFullScreenMode('html')" [ngClass]="{'on':isHtmlFullScreen}" [title]="'Full screen HTML'">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <app-html-part #htmlPartComponent class="code-component" [code]="htmlCode"></app-html-part>
                            </as-split-area>
                            <as-split-area [minSize]="getLayoutInfos('cssAsSplitAreaMinSize')" [size]="getLayoutInfos('cssAsSplitAreaSize')" class="code-component-container code-component-container-css"
                            [ngClass]="{'hide-mobile': !showCss, 'fullscreen': isCssFullScreen}">
                                <div class="code-part-title">
                                    <span>CSS</span>
                                    <div class="code-part-title-btns-container">
                                        <!--<a class="css-expand-btn code-part-title-btn" [title]="'Expand CSS vertically'" (click)="expandCss()">
                                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                        </a>-->
                                        <a class="css-fullscreen-btn code-part-title-btn" (click)="toggleFullScreenMode('css')" [ngClass]="{'on':isCssFullScreen}" [title]="'Full screen CSS'">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <app-css-part #cssPartComponent class="code-component" [code]="cssCode"></app-css-part>
                            </as-split-area>
                            <as-split-area [minSize]="getLayoutInfos('jsAsSplitAreaMinSize')" [size]="getLayoutInfos('jsAsSplitAreaSize')" class="code-component-container code-component-container-js" 
                            [ngClass]="{'hide-mobile': !showJs, 'fullscreen': isJsFullScreen}">
                            <div class="code-part-title" >
                                    <span>JAVASCRIPT</span>
                                    <div class="code-part-title-btns-container">
                                        <!--<a class="js-expand-btn code-part-title-btn" [title]="'Expand JS vertically'" (click)="expandJs()">
                                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                        </a>-->
                                        <a class="js-fullscreen-btn code-part-title-btn" (click)="toggleFullScreenMode('js')" [ngClass]="{'on':isJsFullScreen}" [title]="'Full screen JS'">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <app-js-part #jsPartComponent class="code-component" [code]="jsCode"></app-js-part>
                            </as-split-area>
                        </as-split>
                    </div>
            
            </as-split-area>
            <as-split-area [order]="getLayoutInfos('iframeAsSplitAreaOrder')" [minSize]="getLayoutInfos('iframeAsSplitAreaMinSize')" [size]="getLayoutInfos('iframeAsSplitAreaSize')" style="position:relative;" class="as-split-area-iframe" [ngClass]="{'hide-mobile': !showResult}">
                    <div class="iframe-hack" [ngStyle]="{'display' : showIframeHider ? '' : 'none' }"></div>
                    <app-iframe-part #iframePart [ngClass]="{'hide-mobile': !showResult, 'layout-type-1': (layout == 1), 'layout-type-2': (layout == 2), 'layout-type-3': (layout == 3), 'layout-type-4': (layout == 4)}" #iframePart></app-iframe-part>
            </as-split-area>
    </as-split>
    
</div>
<app-modal #modal>
    <div class="modal-header">
        <button class="modal-validate-btn btn" (click)="validateRessources()"><i class="fa fa-check" aria-hidden="true"></i></button>
        <h2>Fiddle ressources</h2>
        <button class="modal-close-btn" (click)="hideModal()"><span>X</span></button>
    </div>
    <div class="modal-body">
        <app-ressources #ressources (hidemodal)="hideModal()"></app-ressources>
    </div>
    <div class="modal-footer" style="padding:0px;">
    </div>
</app-modal>