<div id="code-parts">
    <div class="code-component-container">
        <app-html-part class="code-component"></app-html-part>
    </div>
    <div class="code-component-container">
        <div class="vertical-resizer"></div>
        <app-css-part class="code-component"></app-css-part>
    </div>
    <div class="code-component-container">
        <div class="vertical-resizer"></div>
        <app-js-part class="code-component"></app-js-part>
    </div>
</div>
<div id="main-resizer" draggable="true"></div>
<app-iframe-part></app-iframe-part>