<header id="main-header"></header>
<div class="main-container" (dragover)="mainContainerDragoverHandler($event)">
    <div id="code-parts-title-mobile">
        <a #htmlMobileToggle (click)="toggleCodePart('html')" [ngClass]="{'active':showHtml}">HTML</a>
        <a #cssMobileToggle (click)="toggleCodePart('css')" [ngClass]="{'active':showCss}">CSS</a>
        <a #jsMobileToggle (click)="toggleCodePart('js')" [ngClass]="{'active':showJs}">JS</a>
        <a #resultMobileToggle (click)="toggleCodePart('result')" [ngClass]="{'active':showResult}">Result</a>
    </div>
    <div id="code-parts" #codeParts [ngClass]="{'hide-mobile': !showHtml && !showCss && !showJs}" 
    [ngStyle]="{'width':codePartsWidth, 'height': !showResult ? '100%':'','max-height': !showResult ? '100%':''}"
    (dragover)="codePartsDragoverHandler($event)">
        <div #verticalResizerFloor class="vertical-resizer-floor hide" ></div>
        <div class="code-component-container code-component-container-html" [ngClass]="{'hide-mobile': !showHtml}">
            <app-html-part class="code-component"></app-html-part>
        </div>
        <div class="code-component-container has-resizer code-component-container-css" [ngClass]="{'hide-mobile': !showCss}">
            <div draggable="true" #verticalResizerCss class="vertical-resizer" 
            (mousedown)="verticalResizerCssMousedownHandler($event)"
            (dragstart)="verticalResizerCssDragstartHandler($event)"
            (dragend)="verticalResizerCssDragendHandler($event)"
            [ngStyle]="{'top':verticalResizerCssTop}"></div>
            <app-css-part class="code-component"></app-css-part>
        </div>
        <div class="code-component-container has-resizer code-component-container-js" [ngClass]="{'hide-mobile': !showJs}">
            <div draggable="true" #verticalResizerJs class="vertical-resizer"
            (mousedown)="verticalResizerJsMousedownHandler($event)"
            (dragstart)="verticalResizerJsDragstartHandler($event)"
            (dragend)="verticalResizerJsDragendHandler($event)"
            [ngStyle]="{'top':verticalResizerJsTop}"></div>
            <app-js-part class="code-component"></app-js-part>
        </div>
    </div>
    <div #mainResizerFloor class="main-resizer-floor hide" ></div>
    <div draggable="true" #mainResizer id="main-resizer" 
    (mousedown)="mainResizerMousedownHandler($event)" 
    (dragstart)="mainResizerDragstartHandler($event)" 
    (dragend)="mainResizerDragendHandler($event)"
    [ngStyle]="{'left':mainResizerLeft}" [ngClass]="{'resize-mode':mainResizeMode}"></div>
    <app-iframe-part [ngClass]="{'hide-mobile': !showResult}" 
    [ngStyle]="{'height': (!showHtml && !showCss && !showJs) ? '100%':'','max-height': (!showHtml && !showCss && !showJs) ? '100%':''}"></app-iframe-part>
</div>