#code-parts{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 1px #bbbbbb;
    position:relative;
}

#code-parts > .code-component-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    position: absolute;
}

#code-parts > .code-component-container.has-resizer{
    padding-top:5px;
}

#code-parts > .code-component-container > .code-component{
    height: calc(100% - 50px);
    /*display: flex;
    flex-direction: column;*/
} 

#code-parts > .code-component-container > .vertical-resizer {
    position: absolute;
    min-height: 5px;
    max-height: 5px;
    background-color: #bbbbbb;
    cursor: row-resize;
    border:none;
    width: 100%;
    z-index:101;
}

#code-parts > .code-component-container > .vertical-resizer.resize-mode{
    background-image: repeating-linear-gradient(90deg ,#BBBBBB, #BBBBBB 15px, #FFFFFF 15px, #FFFFFF 20px);    
}

.main-container{
    position: relative;
}
.main-resizer-floor,
.vertical-resizer-floor{
    position:absolute;
    width:100%;
    height:100%;
    z-index:100;
    left:0;
    top:0;
}
#main-resizer {
    position: absolute;
    background-color: #bbbbbb;
    cursor: col-resize;
    min-width: 5px;
    max-width: 5px;
    border:none;
    height:100%;
    z-index:101;
}
#main-resizer.resize-mode{
    background-image:repeating-linear-gradient(#BBBBBB, #BBBBBB 15px, #FFFFFF 15px, #FFFFFF 20px);
}
#main-resizer:hover {
    background-color: #9b9b9b;
}

#code-parts > .code-component-container > .vertical-resizer:hover {
    background-color: #9b9b9b;
}

#code-parts > :not(:first-child) {
    border-top:none;
}

app-iframe-part{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    box-shadow: 0 0 0 1px #bbbbbb;
}
#code-parts-title-mobile{
    display:none;
    /*border-bottom: 1px solid #bbbbbb;*/
    height: 35px;
}

#code-parts-title-mobile a {
    border:1px solid #bbbbbb;
    border-radius:2px;
    padding:3px;
    min-width:50px;
    text-align:center;
    cursor:pointer;
}

#code-parts-title-mobile a:hover {
    background-color:#ededed;
}

#code-parts-title-mobile a.active {
    background-color: #aaaaaa;
    color: #FFFFFF;
    font-weight: 600;
}

#code-parts-title-mobile a:not(:first-child) {
    margin-left:5px;
}

#code-parts-title-mobile a:not(:last-child) {
    margin-right:5px;
}

@media (max-width:767px), (max-height:580px) {  
    #code-parts-title-mobile{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    #main-resizer{
        display:none;
    }

    #code-parts, 
    app-iframe-part{
        width:100% !important;
        min-width: 100% !important;
        height:50%;
        max-height: 50%;
    }


    #code-parts > .code-component-container > .vertical-resizer {
        display: none;
    }

    #code-parts > .code-component-container{
        min-height:100%;
        position: static;
    }

}