<div class="code-part-title">
    <span>HTML</span>
    <div class="code-part-title-btns-container">
        <a class="html-expand-btn code-part-title-btn" [title]="'Expand HTML Vertically'">
            <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </a>

        <a class="html-fullscreen-btn code-part-title-btn" (click)="toggleFullScreenMode()" [ngClass]="{'on':isFullScreenMode}" [title]="'Full screen HTML'">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </a>
    </div>
</div>
<ngs-code-editor 
    [theme]="theme"
    [(codeModel)]="codeModel"
    [options]="options"
    (valueChanged)="onCodeChanged($event)"
    [(value)]="code">
</ngs-code-editor>