.ressources-container{
  position: relative;
}

.ressources-query-container{
  text-align: center;
}

.ressources-query-container .ressources-query-input{
  height: 30px;
  font-size: 16px;
  outline: none;
  border: 1px solid #808080b3;
  border-radius: 2px;
}

.ressources-query-container label{
  font-size:16px;
}

.ressources-choices-container{
  width: 100%;
  height: 400px;
  margin: 4px auto auto;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #bbb;
}