/* You can add global styles to this file, and also import other style files */
body{
    padding:5px;
    margin:0px;
    font-family: sans-serif;
    overflow: hidden;
}

.hide{
    display:none !important;
}

ngs-code-editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

ngs-code-editor 
.monaco-scrollable-element.editor-scrollable.vs {
    height:100% !important;
}

ngs-code-editor .monaco-editor, 
ngs-code-editor .monaco-editor .overflow-guard{
    height:100% !important;
    width:100% !important;
}

ngs-code-editor .monaco-editor.editor{
    min-height: auto !important;
}

ngs-code-editor .margin-view-overlays .line-numbers {
    user-select: none;
}

@media (max-width:767px), (max-height:580px){  

    body{
        padding:0px;
    }
}