app-root {
    display: block;
    height: 100%;
}

app-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.code-component{
    position: relative;
}

.monaco-editor .margin-view-overlays .line-numbers {
    opacity: 0.7;
    user-select: none;
}

#lhazlgkemjk{
    display:none !important;
}

@media (max-width:767px), (max-height:580px){  

    body{
        padding:0px;
    }
}


/*START hassoon's css library*/
.btn{
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    -webkit-user-select: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    padding-left: 6px;
    padding-right: 6px;
}

.btn:hover{
    background-color: #FFFFFF;
}

.btn:active{
    padding-top: 4px;
}

body{
    padding: 0px;
    margin: 0px;
    /*font-family: sans-serif;*/
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.hide{
    display:none !important;
}

.form-control{
    height: 24px;
    font-size: 14px;
    outline: none;
    border: 1px solid #808080b3;
    border-radius: 2px;
    background: #FFFFFF;
}

.dark-mode{
    background: #1e1e1e;
    color: #d4d4d4;
}
/*END hassoon's css library*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-layer-marker {
    display:none;
}

.custom-layer-marker.show {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    z-index: 9999;
}

button.tools-btn.btn {
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px !important;
}

button.tools-btn.btn span {
    /*border: 2px solid #222222;*/
    width: 100%;
}

.no-selection *{
    user-select: none;
}